# How to use correlation analysis to improve marketing

## Import Packages

In [1]:
#Locate imported packages
import sys
sys.path

#import pandas and numpy
import pandas as pd
import numpy as np

# From matplotlib, import pyplot under the alias plt
from matplotlib import pyplot as plt

## Import Dataset

In [2]:
#Import data
df = pd.read_csv("datasets/mktmix.csv")

print(df.head(5))

   NewVolSales  Base_Price  Radio   InStore NewspaperInserts  Discount  \
0        19564   15.029276   245.0   15.452              NaN     0.000
1        19387   15.029276   314.0   16.388              NaN     0.000
2        23889   14.585093   324.0   62.692              NaN     0.050
3        20055   15.332887   298.0   16.573              NaN     0.000
4        20064   15.642632   279.0   41.504              NaN     0.045

           TV    Stout Website_Campaign
0  101.780000  2.28342               NaN
1   76.734000  2.22134               NaN
2  131.590200  2.00604               NaN
3  119.627060  2.19897               NaN
4  103.438118  1.81860               NaN

In [3]:
# Check column data types and check for non-missing values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NewVolSales        104 non-null    int64
 1   Base_Price         104 non-null    float64
 2   Radio              100 non-null    float64
 3   InStore            104 non-null    float64
 4   NewspaperInserts   6 non-null      object
 5   Discount           104 non-null    float64
 6   TV                 104 non-null    float64
 7   Stout              104 non-null    float64
 8   Website_Campaign   14 non-null     object
dtypes: float64(6), int64(1), object(2)
memory usage: 7.4+ KB
None

We have null values on the NewspaperInserts column

In [4]:
# Check Summary statistics
print(df.describe())

        NewVolSales  Base_Price      Radio      InStore    Discount  \
count    104.000000  104.000000  100.000000  104.000000  104.000000
mean   20171.067308   15.306740  256.690000   32.918567    0.022059
std     1578.604670    0.528902   86.994682   13.682570    0.027668
min    17431.000000   13.735724    0.000000   10.782000    0.000000
25%    19048.750000   15.029276  235.000000   22.183750    0.000000
50%    19943.500000   15.332887  278.500000   31.161500    0.000000
75%    20942.750000   15.642632  313.250000   41.079000    0.049423
max    24944.000000   16.281020  399.000000   68.119000    0.090763

               TV       Stout
count  104.000000  104.000000
mean   141.009774    2.545966
std     42.949231    0.310070
min     37.656174    1.818600
25%    117.108343    2.316450
50%    138.581542    2.502120
75%    175.681780    2.814315
max    240.291967    3.158620


***

## Exploratory Data Visualization